html {
  background-color: black;
  color: azure;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  background-color: beige;
  color: darkgreen;
}

img {
  width: 400;
  height: 600;
}

a {
  color: orange;
}

a:hover {
  color: orangered;
}
